* {
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.welcome {
  display: flex;
  height: 28px;
  width: 100%;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.row {
  display: flex;
}

.column {
  margin-left: 100px;
  margin-right: -80px;
}

a {
  color: inherit;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(109, 171, 207);
}

p {
  display: flex;
  height: 164px;
  width: 100%;
  left: 24px;
  top: 314px;
  margin-top: 58px;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
}

.toolbar {
  height: 12px;
  width: 100%;
  border-radius: 0;
}

h1 {
  display: flex;
  height: 0;
  width: 100%;
  left: 24px;
  top: 64px;
  padding-top: 70px;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
}

.secondtittle {
  display: flex;
  height: 70px;
  width: 100%;
  left: 24px;
  top: 0;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #36b37e;
  margin-top: 120px;
}

.middle {
  width: 100%;
  background-image: url(images/Background.png);
  height: 647.9967651367188px;
  left: -126.380859375px;
  top: 98.115234375px;
  border-radius: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

.disabled {
  margin-top: -60px;
  margin-left: 110px;
  margin-right: -80px;
  height: 10px;
}

.work {
  margin-top: -60px;
  margin-left: 200px;
  margin-right: -80px;
}

.card1 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 400px;
  width: 100%;
  outline: 1px solid #24a1fa;
  outline-width: 100%;
}

.header1 {
  width: 100%;
  background-color: #ebf0ee;
  height: 252px;
}

.subtittle2 {
  display: flex;
  justify-content: center;
  height: 97px;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 0;
  margin-left: -40px;
  margin-right: 0;
}

.subtittle3 {
  display: flex;
  justify-content: center;
  height: 48px;
  width: 100%;
  padding-top: 80px;
  left: 0;
  top: 0;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 700px;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
}

.text {
  display: flex;
  justify-content: center;
  height: 189px;
  width: 100%;
  left: 0;
  top: 72px;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
}

h3 {
  height: 57px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  padding-top: 130px;
  color: #344563;
}

.secondtittle1 {
  padding-top: 90px;
}

.background3 {
  width: 100%;
  background-color: #ebf0ee;
  height: 352px;
}

.java2 {
  background-color: white;
  padding: 10px;
  background-position: 20px 10px, 150px 10px;
  margin-right: 8px;
  margin-left: -10px;
}

.list2 {
  display: flex;
  width: 100%;
  margin-left: -20px;
  margin-right: -80px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.list3 {
  display: flex;
  width: 100%;
  margin-left: -20px;
  margin-right: -80px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.java1 {
  background-color: white;
  padding: 10px;
  background-position: 20px 10px, 150px 10px;
  margin-right: 8px;
  color: #36b37e;
  border-radius: 10px;
}

.ruby1 {
  background-color: white;
  padding: 10px;
  margin-right: 8px;
}

.html1 {
  background-color: white;
  padding: 10px;
  margin-right: 8px;
  color: #36b37e;
}

.css2 {
  background-color: white;
  padding: 10px;
  margin-left: 45px;
}

.css3 {
  background-color: white;
  padding: 10px;
}

.css4 {
  background-color: white;
  padding: 10px;
  margin-left: 105px;
}

.mainbutton {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  height: 48px;
  left: 92px;
  top: 13px;
  align-items: center;
  position: relative;
  border-radius: 4px;
  padding: 12px;
  background-color: #36b37f;
  text-align: center;
  color: white;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.button :hover {
  background-color: #d0d9d4;
}

.card {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 30px 30px;
  font-family: inter, sans-serif;
  grid-template-rows: repeat(6, 433px);
  grid-template-columns: repeat(2, 300px);
  padding-left: 35px;
  margin-bottom: 100px;
  border-radius: 1px 0 3px 4px;
}

.card2 {
  display: grid;
  grid-auto-flow: row;
  grid-gap: -10px -10px;
  font-family: inter, sans-serif;
  grid-template-rows: repeat(6, 385px);
  grid-template-columns: repeat(2, 300px);
  padding-left: 35px;
  padding-top: 59px;
  margin-bottom: -1120px;
}

.blank {
  display: flex;
  background-color: #ebf0ee;
  border-radius: 10px;
  height: 210px;
  width: 100%;
}

.blank2 {
  display: flex;
  background-color: #ebf0ee;
  height: 352px;
  width: 100%;
  border: 1px solid #d0d9d4;
  border-radius: 10px;
  margin-bottom: -50px;
}

.cardtittle {
    display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding-left: 50px;
  margin-top: 170px;
  margin-bottom: -50px;
  color: #3a4a42;
}

.cardtittle2 {
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  padding-left: 90px;
  margin-top: 120px;
  margin-bottom: -50px;
  color: #344563;
}

.cardtittle3 {
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  padding-left: 90px;
  margin-top: 120px;
  margin-bottom: -50px;
  color: #344563;
}

.cardtittle4 {
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  padding-left: 120px;
  margin-top: 120px;
  margin-bottom: -50px;
  color: #344563;
}

.ul1 {
  display: flex;
  width: 100%;
  gap: 5px;
  margin-left: -10px;
  margin-right: -55px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.ul2 {
  display: flex;
  width: 100%;
  gap: 5px;
  margin-left: 30px;
  margin-right: -40px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.ruby2 {
  width: 108px;
  margin-left: -23px;
  background-color: #ebf0ee;
  padding: 10px;
  color: #3a4a42;
  border-radius: 10px;
}

.ruby3 {
  width: 65px;
  margin-left: -23px;
  background-color: white;
  padding: 10px;
  color: #36b37e;
  border-radius: 10px;
}

.ruby4 {
  width: 63px;
  margin-left: -23px;
  background-color: white;
  padding: 10px;
  color: #36b37e;
  border-radius: 10px;
}

.ruby5 {
  width: 50px;
  margin-left: -33px;
  background-color: white;
  padding: 10px;
  color: #36b37e;
  border-radius: 10px;
}

.css6 {
  background-color: white;
  padding: 10px;
  color: #36b37e;
  border-radius: 10px;
  width: 85px;
}

.css1 {
  background-color: white;
  padding: 10px;
  color: #36b37e;
  border-radius: 10px;
  width: 40px;
}

.terminal1 {
  width: 55px;
  margin-left: -20px;
  background-color: white;
  padding: 10px;
  color: #36b37e;
  font-family: init, sans-serif;
  border-radius: 10px;
}

.css0 {
  background-color: #ebf0ee;
  padding: 10px;
  color: #3a4a42;
  border-radius: 10px;
}

.java0 {
  background-color: #ebf0ee;
  padding: 10px;
  color: #3a4a42;
  border-radius: 10px;
}

.html0 {
  background-color: #ebf0ee;
  padding: 10px;
  margin-right: 10px;
  white-space: pre-line;
  color: #3a4a42;
  border-radius: 10px;
}

.selenium1 {
  background-color: white;
  padding: 10px;
  margin-right: 10px;
  color: #36b37e;
  border-radius: 10px;
}

.ul0 {
  display: flex;
  width: 100%;
  gap: 5px;
  margin-right: -40px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.ul3 {
  display: flex;
  width: 100%;
  gap: 5px;
  margin-left: 90px;
  margin-right: -40px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.cards1 {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #d0d9d4;
  border-radius: 10px;
}

.button1 {
  display: flex;
  height: 48px;
  width: 40%;
  left: 92px;
  top: 13px;
  border-radius: 4px;
  padding: 12px;
  margin-left: 90px;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: white;
  background-color: #36b37f;
  margin-top: 30px;
  border: none;
}

.button1 :hover {
  background-color: #d0d9d4;
}

.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
  left: 12px;
  top: 12px;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #36b37f;
  color: white;
  margin-left: 100px;
  margin-top: -20px;
  border: none;
}

.button2 :hover {
  background-color: #d0d9d4;
}

.languages {
  margin-bottom: -150px;
  padding-left: 75px;
  left: 124px;
  top: 24px;
  border-radius: 0;
}

.frameworks {
  margin-bottom: -150px;
  padding-left: 75px;
  left: 124px;
  top: 24px;
  border-radius: 0;
}

.skills {
  margin-bottom: -150px;
  padding-left: 75px;
  left: 124px;
  top: 24px;
  border-radius: 0;
}

.item2 {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0;
}

.background1 {
  background-image: url(images/item1.png);
  height: 400px;
  background-repeat: no-repeat;
  background-position-y: center;
}

.background2 {
  background-image: url(images/item2.png);
  height: 150px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.form-container {
  width: 100%;
}

.form-header {
  height: 363px;
  width: 100%;
  text-align: center;
  left: 0;
  top: 0;
  border-radius: nullpx;
  color: #172b4d;
  font-family: inter, sans-serif;
  font-size: 40px;
  margin-top: -1250px;
  margin-bottom: -80px;
}

.form-list {
  display:flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  margin-left: -30px;
}

.username {
  border-radius: 4px;
  width: 166%;
  height: 30px;
  border: none;
  outline: 1px solid #d0d9d4;
  font-family: inter, sans-serif;
  color: #6b778c;
  font-size: 15px;
  line-height: 24px;
}

.email {
  border-radius: 4px;
  width: 166%;
  height: 30px;
  border: none;
  outline: 1px solid #d0d9d4;
  font-family: inter, sans-serif;
  color: #6b778c;
  font-size: 15px;
  line-height: 24px;
}

.textarea {
  border-radius: 4px;
  width: 128%;
  height: 110px;
  border: none;
  outline: 1px solid #60c095;
  font-family: inter, sans-serif;
  color: #6b778c;
  font-size: 15px;
  line-height: 24px;
}

.submit-button {
  display: flex;
  justify-content: center;
  padding-top: 13px;
  margin-left: 110px;
  height: 48px;
  width: 40%;
  left: 99px;
  top: 282px;
  border-radius: 4px;
  background-color: #36b37f;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  border: none;
}

.row2 {
  display: flex;
  margin: left;
  background-position-x: right;
  margin-left: -45px;
  margin-top: 0;
}

.footer {
  background-image: url(images/frame.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  height: 132.37px;
}

.myemail {
  margin-top: -90px;
  padding-left: 40px;
  font-family: inter, sans-serif;
  height: 189px;
  color: #42526e;
}