.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.welcome {
  display: flex;
  height: 28px;
  width: 100%;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.row {
  display: flex;
}

.column {
  margin-left: 100px;
  margin-right: -80px;
}

.portfolio {
  padding-left: 0;
}

.about {
  margin-left: 5%;
}

.contact {
  padding-right: 0;
  margin-left: 10%;
}

a {
  color: inherit;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(109, 171, 207);
}

p {
  display: flex;
  height: 164px;
  width: 100%;
  left: 24px;
  top: 314px;
  margin-top: 58px;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
}

.toolbar {
  height: 12px;
  width: 100%;
  border-radius: 0;
}

h1 {
  display: flex;
  height: 0;
  width: 100%;
  left: 24px;
  top: 64px;
  padding-top: 70px;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
}

h2 {
  display: flex;
  height: 70px;
  width: 100%;
  left: 24px;
  top: 0;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #36b37e;
  margin-top: 120px;
}

.middle {
  width: 100%;
  background-image: url(images/Background.png);
  height: 647.9967651367188px;
  left: -126.380859375px;
  top: 98.115234375px;
  border-radius: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}
